* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: #a9a9a9;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.header {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color:green;
    font-weight: bolder; 
    display: flex; 
    justify-content: center; 
   
}

.font {
    font-size: 18px;
  
    
}
.bar {
    background-color: lightgrey;
    padding: 20px;
    margin: 0px;
   
}

.list-style li{
    list-style-type: none;
    padding: 5px;
         
}

.link {
    text-decoration: none;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

a:hover {
    background-color: yellow;
}

.link-style {
    background-color: #36454f;
    margin: 28px;
    padding: 10px;
    max-width: fit-content;
    border-radius: 8px;
}
.recipe {
    background-color: #fff;
    margin: 30px;
    border-radius: 8px;   
}

.image-container {
    margin: 50px;
    border-radius: 8px;
    background-color: yellowgreen;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.image {
    margin: 4px;
    width: 100%; 
    border: 2px solid yellowgreen;
    border-radius: 5px;  
}

.detail {
    padding:10px;
    list-style-position: inside;
}

