* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: #a9a9a9;
    padding: 20px;
}

.header {
    border: 3px solid #ffc0cb;
    margin-top: 30px;
    width: 300px;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
   
}

.bar {
    background-color: lightgrey;
    padding: 20px;
    margin: 0px;
   
}

.list-style li{
    list-style-type: none;    
}

.link {
    text-decoration: none;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  
}

.link-style {
    background-color: #36454f;
    margin-top: 20px;
    padding: 10px;
    max-width: fit-content;

}